:root {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  #root > div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
a {
  text-decoration: none;
  color: $color-white;
}
ul,
ol {
  list-style: none;
}

.loading {
  margin: 0 auto;
  &-doctor-profile {
    margin: 2.4rem auto;
  }
}
