@font-face {
  font-family: "Gilory-bold";
  src: url("../../fonts/Radomir Tinkov - Gilroy-Bold.otf");
}

@font-face {
  font-family: "Gilory";
  src: url("../../fonts/Radomir Tinkov - Gilroy-Regular.otf");
}

@font-face {
  font-family: "Gilory-semi-bold";
  src: url("../../fonts/Radomir Tinkov - Gilroy-SemiBold.otf");
}

body {
  font-family: $regular-font;
}

%heading {
  color: $color-dark;
  font-family: $bold-font;
  display: block;
}

.heading-2 {
  @extend %heading;
  font-size: 3.2rem;
}

.heading-3 {
  @extend %heading;
  font-size: 2.4rem;
}

.heading-4 {
  @extend %heading;
  font-size: 1.6rem;
}
