// Font Family
$regular-font: "Gilory", sans-serif;
$bold-font: "Gilory-bold", sans-serif;
$semi-bold-font: "Gilory-semi-bold", sans-serif;

//Colors
$color-white: #fff;
$color-light-1: #f1f2f6;
$color-light-2: rgba(9, 202, 203, 0); //#09CACB00
$color-light-3: rgba(36, 42, 55, 0.1); //#242A371A
$color-dark: #242a37;
$color-green: #07a3a4;
$color-green-light: #09cacb;

// Opacities
$low-opacity: 0.1;
$medium-opacity: 0.4;
$high-opacity: 0.6;
$very-high-opacity: 0.7;

// Transitions
$transition: all 0.3s ease-out;