.Appointments {
  @extend .shoppingCartContainer;
  display: block;
  font-size: 1.6rem;

  &__Grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 0.33fr));
    grid-gap: 4rem;
    margin-top: 4.9rem;
  }
}

.DoctorBookingCard {
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;

  &__img {
    box-shadow: 0 0 0 2.68px #07a3a4, 0 0 0 5.63px rgba(7, 163, 164, 0.4),
      0 0 0 8.93px #fff, 0 0 0 9.93px rgba(7, 163, 164, 0.1);
    object-fit: cover;
    border-radius: 50%;
    margin-right: 2.4rem;
    width: 6rem;
    height: 6rem;
  }

  &__info {
    display: flex;
    margin: 2rem;
    &__address {
      @include controlLines(1);
    }
  }

  .flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.4rem;
    line-height: 3rem;
    span {
      white-space: nowrap;
    }
  }
  p {
    color: rgba($color: $color-dark, $alpha: $very-high-opacity);
    margin-bottom: 0.4rem;
    img {
      margin-right: 0.4rem;
    }
  }
  hr {
    background-color: $color-dark;
    border-bottom: 0;
    margin-top: auto;
  }
  span {
    font-family: $semi-bold-font;
  }
  footer {
    margin: 2rem;
  }
}
