.bookingDoctorContainer {
  @extend .shoppingCartContainer;
  justify-content: start;
  padding-left: 1rem;

  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
  }
}

.doctorBox {
  margin-right: 4rem;
  display: flex;

  position: sticky;
  left: 3rem;
  top: 6.4rem;

  @media (max-width: 1000px) {
    position: static;
    margin-bottom: 4rem;
  }
  &__img {
    width: 6.7rem;
    box-shadow: 0 0 0 3.14px #07a3a4, 0 0 0 6.29px rgba(7, 163, 164, 0.4),
      0 0 0 9.48px #fff, 0 0 0 10.48px rgba(7, 163, 164, 0.1);
    object-fit: cover;
    border-radius: 50%;
    margin-right: 2.6rem;
  }

  p {
    color: $color-dark;
    opacity: $very-high-opacity;
    font-size: 1.6rem;
    margin-top: 0.4rem;
  }

  &__price {
    font-size: 3.2rem;
    font-family: $bold-font;
  }
}

.availableAppointments {
  background-color: $color-light-1;
  padding: 3.2rem;

  &__header {
    display: flex;
    justify-content: space-between;
    color: $color-green;
    font-size: 1.6rem;
    margin-bottom: 4rem;
    @media screen and (max-width: 500px){
      flex-direction: column;
      h3 {
        margin-bottom: 2.4rem;
      }
    }
    a {
      color: $color-green-light;
    }
  }

  .appointmentsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3.2rem;

    @media screen and (max-width: 500px){
      grid-template-columns: 1fr;
    }

    &__box {
      background-color: $color-white;
      padding: 2rem;
      font-size: 1.6rem;

      h3 {
        font-family: $regular-font;
        margin-bottom: 2.4rem;
      }
      .appointment {
        display: flex;
        justify-content: space-between;
        &:not(:last-child) {
          margin-bottom: 1.6rem;
        }
        span {
          color: $color-dark;
          opacity: $very-high-opacity;
        }
        button {
          width: 9.6rem;
          height: 2.4rem;
        }
      }
    }
  }
}
