.re-examination {
  width: 85%;
  margin: 0 auto;
  padding: 6.4rem 0;

  .signup__container__forms__toggler.active-0 {
    > span {
      left: -1px;
    }

    > button:nth-of-type(1) {
      color: $color-white;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 0.33fr));
    grid-gap: 4rem;
  }

  .see-more {
    margin: 4rem auto 0;
    display: block;
  }
}

.workingSchedule {
  width: 85%;
  margin: 0 auto;
  padding: 6.4rem 0;

  .flex {
    display: flex;
    justify-content: space-between;
  }
  .scheduleBox {
    background-color: $color-light-1;
    padding: 3.2rem;
    overflow: hidden;
    margin-bottom: 4rem;

    &__btn {
      width: 15.2rem;
      height: 3.2rem;
    }

    &__indicators {
      display: flex;
      justify-content: flex-end;
      margin: 3.7rem 0 0.8rem;
      text-align: right;
      font-size: 1.4rem;
      color: rgba($color-dark, $very-high-opacity);
      * {
        margin-right: 0.8rem;
      }
      :last-child {
        margin-right: 0;
      }
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(23rem, 0.25fr));
      grid-gap: 3.2rem;
    }
  }
  .homeVisit {
    padding: 2.6rem 2.4rem;
    background-color: $color-light-1;

    input {
      display: none;
      &:checked {
        + label span::after {
          content: "";
          position: absolute;
          height: 0.8rem;
          width: 0.8rem;
          background-color: $color-green;
          top: 0.4rem;
          left: 0.4rem;
          transition: $transition;
        }
      }
    }
    label {
      font-size: 1.6rem;
      color: rgba($color-dark, $very-high-opacity);
      span {
        display: inline-block;
        background-color: $color-white;
        width: 1.6rem;
        height: 1.6rem;
        margin-right: 0.8rem;
        position: relative;
        top: 3px;
        transition: $transition;
      }
    }
  }
}

/////////////////////////////////////////////
//prescripition list
.PrescriptionList {
  width: 85%;
  margin: 0 auto;
  padding: 6.4rem 0;

  /// Search bar

  .Searchbar {
    width: 100%;
    margin: 0;
    button {
      display: none;
    }
  }
  &__grid {
    margin: 4rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 0.33fr));
    grid-gap: 4rem;
  }
}

///////////////////////////////////
// Doctor statement

.doctorStatement {
  @extend .pharmacyStatment;

  .PatientCard__info__text {
    width: 100%;
  }
}
