.re-examination {
  width: 85%;
  margin: 0 auto;
  padding: 6.4rem 0;

  .signup__container__forms__toggler.active-0 {
    > span {
      left: -1px;
    }

    > button:nth-of-type(1) {
      color: $color-white;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 4rem;
  }
}

.workingSchedule {
  width: 85%;
  margin: 0 auto;
  padding: 6.4rem 0;

  .flex {
    display: flex;
    justify-content: space-between;
  }
  .scheduleBox {
    background-color: $color-light-1;
    padding: 3.2rem;
    overflow: hidden;
    margin-bottom: 4rem;

    &__btn {
      padding: 1rem;
      border-radius: 1rem;
      box-shadow: 0px 3px 6px $color-light-3;
      width: 15.2rem;
    }

    &__indicators {
      display: block;
      margin: 3.7rem 0 0.8rem auto;
      text-align: right;
      font-size: 1.4rem;
      color: rgba($color-dark, $very-high-opacity);
      letter-spacing: 0.3rem;
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
      grid-gap: 3.2rem;
    }
  }
  .homeVisit {
    padding: 2.6rem 2.4rem;
    background-color: $color-light-1;

    input {
      display: none;
      &:checked {
        + label span::after {
          content: "";
          position: absolute;
          height: 1.3rem;
          width: 1.3rem;
          background-color: $color-green;
          top: 1px;
          left: 1px;
          border-radius: 50%;
        }
      }
    }
    label {
      font-size: 1.6rem;
      color: rgba($color-dark, $very-high-opacity);
      span {
        display: inline-block;
        background-color: $color-white;
        width: 1.6rem;
        height: 1.6rem;
        margin-right: 0.8rem;
        position: relative;
        top: 3px;
      }
    }
  }
}
