
.login {
    min-height: 100vh;
    @include image("../../assets/man-on-rocket.svg");
    display: flex;
    justify-content: flex-end;
    padding-right: 11.5rem;

    @include respond(tab-port) {
        padding-right: 5rem;
        padding-left: 5rem;
        justify-content: center;
        background: none;
    }

    &__container {
        flex-basis: 49%;

        @include respond(tab-land) {
            flex-basis: 75%;
        }

        @include respond(tab-port) {
            flex-basis: 100%;
        }

        &__header {
            @include header;
        }

        &__form {
            h1 {
                font-family: $bold-font;
                font-size: 3.2rem;
                color: $color-dark;
                margin-bottom: 3.2rem;

                span {
                    display: block;
                }
            }

            form {
                .form--btn {
                    @include respond(tab-port) {
                        margin-top: 2rem;
                    }
                }

                .forgot-password {
                    display: flex;
                    justify-content: flex-end;

                    a {
                        text-decoration: none;

                        p {
                            color: $warning-color;
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }

        &__footer {
            @include footer;
        }
    }
}
