.medicinePage__contianer {
  width: 80%;
  margin: 0 auto;
  font-size: 1.6rem;
  padding: 6.4rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  &__medicine {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: 1fr;
    grid-gap: 4rem;
    position: sticky;
    top: 0;
  }

  @media (max-width: 950px) {
    grid-template-rows: min-content min-content 1fr;
    grid-template-columns: 1fr;
    width: 90%;
    &__medicine {
      position: relative;
    }
  }
}

.medicine__container {
  .medicationCard {
    padding: 3.2rem 3.2rem 1.6rem;
    &__main {
      &__medicationImg {
        box-shadow: 0 0 0 13.5px $color-green,
          0 0 0 26px rgba($color: $color-green, $alpha: $medium-opacity);
        width: calc(100% - 2 * 2.6rem);
      }
      &--favourite {
        right: 4.17rem;
        top: 1.6rem;
      }
    }
    &__price {
      font-family: $semi-bold-font;
    }
  }
}

.delivery__container {
  padding: 3.2rem;
  box-shadow: 0px 3px 6px rgba($color-dark, $low-opacity);
  color: rgba($color-dark, $very-high-opacity);
  max-height: 300rem;
  align-self: start;

  @media (max-width: 950px) {
    grid-row: auto;
  }
  &__text {
    margin: 3.2rem 0 1.6rem 0;
  }

  span {
    display: block;
    margin-bottom: 1.6rem;
  }

  &__btn {
    margin-left: auto;
    display: block;
  }
}

.pharmacies__container {
  // height: calc(100% - 3.2rem);
  box-shadow: 0px 3px 6px rgba($color-dark, $low-opacity);
  overflow: auto;
  padding: 3.2rem;

  @media (max-width: 950px) {
    grid-row: auto;
    height: 100%;
  }

  h2 {
    margin-bottom: 3.2rem;
    font-size: 2.4rem;
  }
}

/*******************************/
//Pharmacy item
.pharmacy {
  display: flex;
  padding: 2.4rem 0;
  font-size: 1.6rem;
  color: rgba($color-dark, $very-high-opacity);

  &:not(:last-child) {
    border-bottom: 1px solid rgba(36, 42, 55, 0.4);
  }
  &:last-child {
    padding-bottom: 0;
  }
  &:first-of-type {
    padding-top: 0;
  }

  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: center;
  }

  &__info {
    margin-left: 1.6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
    @media screen and (max-width: 500px) {
      flex-direction: column;
      .rate {
        margin-left: auto;
        margin-top: 8px;
      }
    }
  }

  &__address {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.6rem;
    @media screen and (max-width: 500px) {
      flex-direction: column;
      span:last-child {
        margin-left: auto;
        margin-top: 8px;
      }
    }
  }

  &__buttons {
    margin-left: auto;
    width: max-content;
    @media screen and (max-width: 500px) {
      display: flex;
      margin-left: 0;
      flex-direction: column;
      align-self: center;
      button:first-child {
        margin-bottom: 8px;
      }
    }
  }
}
