.medicalWallet {
  width: 85%;
  margin: 0 auto;
  padding: 6.4rem 0;

  .toggler {
    &.active-1 {
      button {
        color: $color-dark;
        &:hover {
          color: $color-white;
        }
      }
      > button:first-of-type {
        color: $color-white;
      }
      .medicalWalletPointer {
        left: -1px;
      }
    }
    .medicalWalletPointer {
      width: calc(100% / 2);
    }
  }

  .medicalWalletTogglers {
    flex-basis: calc(100% / 2);
  }

  .signup__container__forms__toggler.active-2 > span {
    left: calc(100% / 2) !important;
  }

  ////////////////////////// Doctors Prescriptions page
  .DoctorsPrescriptions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 4rem;
  }

  ///////////////////////// Radiology Reports page
  .RadiologyReports {
    .btn-green-dark {
      margin-left: auto;
      display: block;
    }

    .RadiologyGrid {
      @extend .DoctorsPrescriptions;
    }
  }
}
