.medicinePage__contianer {
  width: 80%;
  margin: 0 auto;
  font-size: 1.6rem;
  padding: 6.4rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  &__medicine {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: 1fr;
    grid-gap: 4rem;
    position: sticky;
    top: 0;
  }

  @media (max-width: 950px) {
    grid-template-rows: min-content min-content 1fr;
    grid-template-columns: 1fr;
    width: 90%;
    &__medicine {
      position: relative;
    }
  }
}

.medicine__container {
  .medicationCard {
    padding: 3.2rem;
    &__main {
      &__medicationImg {
        box-shadow: 0 0 0 13.5px $color-green,
          0 0 0 26px rgba($color: $color-green, $alpha: $medium-opacity);
        width: calc(100% - 2 * 2.6rem);
      }
      &--favourite {
        width: calc(100% - 5.2rem);
        right: 2.6rem;
        background-position: right 1.6rem top 1.6rem;
        background-size: 3.2rem 2.72rem;
      }
    }
    &__info {
      margin: 2.8rem 0 0 0;
    }
    &__price {
      font-family: $semi-bold-font;
    }
  }
}

.delivery__container {
  padding: 3.2rem;
  box-shadow: $shadow;
  color: rgba($color-dark, $very-high-opacity);
  max-height: 300rem;
  align-self: start;

  @media (max-width: 950px) {
    grid-row: auto;
  }
  &__text {
    margin: 3.2rem 0 1.6rem 0;
  }

  span {
    display: block;
    margin-bottom: 1.6rem;
  }

  &__btn {
    margin-left: auto;
    display: block;
  }
}

.pharmacies__container {
  // height: calc(100% - 3.2rem);
  box-shadow: $shadow;
  overflow: auto;
  padding: 3.2rem;

  @media (max-width: 950px) {
    grid-row: auto;
    height: 100%;
  }

  h2 {
    margin-bottom: 3.2rem;
    font-size: 2.4rem;
  }
}

/*******************************/
//Pharmacy item
.pharmacy {
  display: flex;
  padding: 2.4rem 0;
  font-size: 1.6rem;
  color: rgba($color-dark, $very-high-opacity);

  &:not(:last-child) {
    border-bottom: 1px solid rgba(36, 42, 55, 0.4);
  }
  &:last-child {
    padding-bottom: 0;
  }
  &:first-of-type {
    padding-top: 0;
  }

  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    height: 11.2rem;
    border-radius: 50%;
    box-shadow: $shadow;
    img {
      width: 11.2rem;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__info {
    margin-left: 1.6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
    .heading-4 {
      margin-right: 0.8rem;
    }
    .rate {
      white-space: nowrap;
    }
    @media screen and (max-width: 500px) {
      flex-direction: column;
      .rate {
        margin-left: auto;
        margin-top: 8px;
      }
    }
  }

  &__address {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.6rem;
    span:first-child {
      @include controlLines(1);
      margin-right: 0.8rem;
    }
    span:last-child {
      white-space: nowrap;
    }
    @media screen and (max-width: 500px) {
      flex-direction: column;
      span:last-child {
        margin-left: auto;
        margin-top: 8px;
      }
    }
  }

  &__buttons {
    margin-left: auto;
    width: max-content;
    @media screen and (max-width: 500px) {
      display: flex;
      margin-left: 0;
      flex-direction: column;
      align-self: center;
      button:first-child {
        margin-bottom: 8px;
      }
    }
    .btn-dark {
      display: none;
      &.visible {
        display: inline-block;
      }
      &.btn-cart {
        color: $color-green-light;
        border-color: $color-green-light;
      }
    }
  }
}
