.Orders {
  width: 85%;
  margin: 6.4rem auto;

  &__container {
    margin-top: 4.8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35.5rem, 1fr));
    grid-gap: 4rem;
    &__box {
      box-shadow: $shadow;
      display: flex;
      flex-direction: column;
      &__header {
        border-bottom: 1px solid $color-dark;
        padding: 2rem;
        display: flex;
        img {
          width: 4.2rem;
          height: 4.2rem;
          object-fit: cover;
          margin-right: 1.6rem;
        }
        > div {
          width: 100%;
        }
        &--heading {
          display: flex;
          justify-content: space-between;
          margin-bottom: 4px;
          p {
            color: $color-dark;
            font-size: 1.6rem;
            font-family: $bold-font;
            &.state {
              color: rgba($color: $color-dark, $alpha: $very-high-opacity);
              font-family: $semi-bold-font;
              &-failed {
                @extend p.state;
                color: $warning-color;
              }
            }
          }
        }
        &--address {
          display: flex;
          align-items: center;
          img {
            width: 1.2rem;
            height: 1.6rem;
            margin-right: 4px;
          }
          span {
            color: rgba($color: $color-dark, $alpha: $very-high-opacity);
            font-size: 1.6rem;
          }
        }
      }

      &__order {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        height: 100%;
        &--heading {
          display: flex;
          justify-content: space-between;
          color: $color-dark;
          font-size: 1.6rem;
          font-family: $semi-bold-font;
          margin-bottom: 4px;
          h3 {
            font-size: 1.6rem;
            font-family: $bold-font;
          }
        }
        ul {
          li {
            color: rgba($color: $color-dark, $alpha: $very-high-opacity);
            margin-bottom: 4px;
            font-size: 1.6rem;
          }
        }
        button {
          display: block;
          margin-top: auto;
          font-family: $semi-bold-font;
          align-self: flex-end;
        }
      }
    }
  }
}