.Prescription {
  width: 85%;
  margin: 0 auto;
  padding: 6.4rem 0;

  button.btn-lg {
    display: block;
    margin-bottom: 4rem;
    margin-left: auto;
  }

  &__container {
    @extend .doctorsGrid;
    &__card {
      position: relative;
      padding: 2rem;
      box-shadow: $shadow;
      header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.4rem;
        h2 {
          font-size: 2.4rem;
          color: $color-dark;
          font-family: $bold-font;
        }
        .menu-btn {
          border: none;
          background-color: transparent;
          outline: none;
          width: 3.2rem;
          height: 3.2rem;
          cursor: pointer;
        }
      }
      h3 {
        font-size: 1.6rem;
        font-family: $semi-bold-font;
        color: $color-dark;
        margin: 0.8rem 0 0.4rem;
      }
      &__frequency {
        color: rgba($color: $color-dark, $alpha: $very-high-opacity);
        font-size: 1.6rem;
        span {
          font-family: $semi-bold-font;
        }
      }
      &__days {
        display: flex;
        span {
          @extend .Prescription__container__card__frequency;
          width: 2.8rem;
          height: 3.2rem;
          background-color: $color-light-1;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:not(:last-of-type) {
            margin-right: 0.4rem;
          }
        }
      }
      &__dosing {
        list-style: none;
        li {
          @extend .Prescription__container__card__frequency;
          &:not(:last-of-type) {
            margin-bottom: 0.4rem;
          }
        }
      }
      &__menu {
        position: absolute;
        top: 3.2rem;
        right: 3.7rem;
        padding: 1.6rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: $shadow;
        visibility: hidden;
        opacity: 0;
        transition: $transition;
        background-color: $color-white;
        button {
          @extend .Prescription__container__card__frequency;
          border: none;
          background-color: transparent;
          cursor: pointer;
          img {
            margin-right: 0.4rem;
          }
          &:first-of-type {
            margin-bottom: 0.8rem;
          }
        }
        &.visible {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
