.search-pharmacy {
  width: 85%;
  margin: 6.4rem auto 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 4.8rem;
  .select-component {
    margin: 0;
    > div:not(.select--options) {
      height: 100%;
    }
    &::after {
      right: 15.2rem;
    }
    .select--options {
      width: calc(100% - 13.6rem);
    }
  }
  .btn-search {
    position: absolute;
    right: 0;
    border: 0;
    border-left: 1px solid rgba($color: $color-dark, $alpha: $medium-opacity);
    border-radius: 0 10px 10px 0;
    height: 4.8rem;
    width: 13.6rem;
    box-shadow: none;
  }
}

.shoppingCartContainer {
  width: 85%;
  margin: 0 auto;
  padding: 6.4rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  @media (max-width: 880px) {
    flex-direction: column;
    align-items: center;
  }

  .medicationsContainer {
    width: calc(100% - 295px);
    margin-right: 4rem;

    @media (max-width: 880px) {
      order: 1;
      width: unset;
      margin: 0;

      // @media (max-width: 880px) {
      //   .order {
      //     margin-left: 10%;
      //   }
      // }
    }
  }

  .totalPriceCard {
    width: 25.5rem;
    background-color: $color-white;
    padding: 2.4rem;
    box-shadow: $shadow;
    position: sticky;
    top: 3.6rem;

    @media (max-width: 880px) {
      order: 0;
      width: 30rem;
      margin-bottom: 4rem;
      top: 0;
      position: initial;
    }

    h3 {
      font-size: 2.4rem;
      font-family: $bold-font;
      color: $color-dark;
      margin-bottom: 0.8rem;
    }

    p {
      color: $color-dark;
      font-size: 2.4rem;
      margin-bottom: 0.8rem;
    }
  }
  .medicationCard__pharmacy {
    display: flex;
    &__logo {
      width: 4.2rem;
      height: 4.2rem;
      object-fit: cover;
      border-radius: 50%;
    }

    &--pharmacyInfo {
      margin-left: 0.8rem;
      font-size: 1.6rem;
      color: rgba($color: $color-dark, $alpha: $very-high-opacity);
      p {
        margin-bottom: 0.4rem;
      }
      span {
        @include controlLines(1);
      }
      img {
        margin-right: 0.4rem;
      }
    }
  }

  &__error {
    font-size: 1.6rem;
    color: $warning-color;
  }
}
