.signup {
  min-height: 100vh;
  @include image("../../assets/svg/man-on-rocket.svg");
  display: flex;
  justify-content: flex-end;
  padding-right: 11.5rem;

  @include respond(tab-port) {
    background: none !important;
    padding: 0 5rem;
    justify-content: center;
  }

  @include respond(mobile) {
    padding: 0 2.5rem;
  }

  &__container {
    flex-basis: 49%;

    @include respond(tab-land) {
      flex-basis: 75%;
    }

    @include respond(tab-port) {
      flex-basis: 100%;
    }

    &__header {
      @include header;
    }

    &__forms {
      h1 {
        font-family: $bold-font;
        font-size: 3.2rem;
        color: $color-dark;
        margin-bottom: 3.2rem;

        span {
          display: block;
        }
      }

      &__toggler {

        &__pointer {
          backface-visibility: hidden;
          z-index: 2;
          height: 100%;
          width: calc(100% / 3);
          position: absolute;
          top: 0;
          border-radius: 1rem;
          background-color: $color-blue;
          transition: $transition;
        }

        &.active-1 {
          > button:first-of-type {
            color: $color-white;
          }

          > span {
            left: -1px;
          }
        }

        &.active-2 {
          > button:nth-of-type(2) {
            color: $color-white;
          }

          > span {
            left: calc(100% / 3);
          }
        }

        &.active-3 {
          > button:last-of-type {
            color: $color-white;
          }

          > span {
            left: calc(100% - calc(100% / 3) + 1px);
          }
        }
      }

      &__user,
      &__doctor {
        form {
          .multi-inputs {
            display: flex;
            justify-content: space-between;

            > div {
              flex-basis: 48%;
              height: 100%;
            }
          }
        }
      }

      &__slider {
        > section {
          display: none;
        }

        &.active-1 section:first-of-type,
        &.active-2 section:nth-of-type(2),
        &.active-3 section:last-of-type {
          display: block;
        }
      }
    }

    &__footer {
      @include footer;
    }
  }
}
