.rect {
  fill: $color-dark;
  opacity: 0.2;
  transition: fill 0.1s linear, opacity 0.1s linear, height 0.2s linear;
}

.rect-active,
.rect:hover {
  opacity: 1;
  fill: $color-green;
}

.chart {
  padding: 2.4rem;
  box-shadow: $shadow;
  font-size: 1.6rem;
}

.chart__container > div:not(.indicators) {
  padding: 1.6rem 1.3rem 0;
  border-bottom: 1px solid rgba($color: $color-dark, $alpha: $medium-opacity);
}

.chart__container > div > svg {
  transform: translateY(5px);
}

.indicators {
  padding: 0 1.3rem;
  position: relative;
}

.indicators .indicators__right,
.indicators .indicators__left {
  position: absolute;
  width: 25px;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  cursor: pointer;
}

.indicators .indicators__right {
  left: auto;
  right: 0;
  transform: translateY(-50%) rotateY(180deg);
}

.indicators > div {
  overflow: hidden;
}

.indicators > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 2.7rem;
}

.indicators > div > div > p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: calc(100% / 5);
  color: rgba($color: $color-dark, $alpha: $very-high-opacity);
}

.indicator-active > svg > g {
  fill: #656973 !important;
}
