.doctorCard {
  background-color: $color-white;
  box-shadow: 0px 3px 6px rgba($color-dark, $low-opacity);
  padding: 2rem;
  font-size: 1.6rem;
  //width: 27rem;
  width: 100%;
  > img {
    width: calc(100% - 2 * 4.35rem);
    object-fit: cover;
    margin: 2rem auto 3.6rem;
    box-shadow: 0 0 0 6px $color-green,
      0 0 0 12px rgba($color: $color-green, $alpha: $medium-opacity),
      0 0 0 19px $color-white,
      0 0 0 20px rgba($color: $color-green, $alpha: $low-opacity);
    border-radius: 50%;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
    flex-wrap: wrap;
  }
  &__name {
    font-size: 2.4rem;
    color: $color-dark;
    font-family: $bold-font;
  }
  &__price {
    font-size: 1.6rem;
  }
  &__speciality {
    color: rgba($color-dark, $very-high-opacity);
    margin-bottom: 0.9rem;
  }
  &__rate {
    display: flex;
    align-items: center;
    margin-bottom: 1.8rem;
    span {
      color: rgba($color-dark, $very-high-opacity);
    }
  }
  &__star {
    &:not(:last-of-type) {
      margin-right: 0.2rem;
    }
    &:last-of-type {
      margin-right: 0.6rem;
    }
  }
}

/*****************************/
//Medications card

.medicationCard {
  @extend .doctorCard;
  >img {
    width: calc(100% - 2 * 1.2rem);
    object-fit: cover;
    margin: 1.2rem auto 2.8rem;
    box-shadow: 0 0 0 6px $color-green,
      0 0 0 12px rgba($color: $color-green, $alpha: $medium-opacity);
    border-radius: 0;
  }

  &__info {
    margin: 1.6rem 0;
    &--flex {
      @extend .doctorCard__info;
    }
  }

  &__description {
    color: rgba($color-dark, $very-high-opacity);
  }

  &__name {
    @extend .doctorCard__name;
  }

  &__price {
    @extend .doctorCard__price;
  }
}
