.doctorCard {
  position: relative;
  background-color: $color-white;
  box-shadow: 0px 3px 6px rgba($color-dark, $low-opacity);
  padding: 2rem;
  font-size: 1.6rem;
  //width: 27rem;
  width: 100%;
  &__main {
    display: flex;
    align-items: flex-start;
    &__doctorImg {
      width: calc(100% - 2 * 4.35rem);
      object-fit: cover;
      margin: 2rem 2rem 3.6rem 4.35rem;
      box-shadow: 0 0 0 6px $color-green,
        0 0 0 12px rgba($color: $color-green, $alpha: $medium-opacity),
        0 0 0 19px $color-white,
        0 0 0 20px rgba($color: $color-green, $alpha: $low-opacity);
      border-radius: 50%;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
    flex-wrap: wrap;
  }
  &__name {
    font-size: 2.4rem;
    color: $color-dark;
    font-family: $bold-font;
  }
  &__price {
    font-size: 1.6rem;
  }
  &__speciality {
    color: rgba($color-dark, $very-high-opacity);
    margin-bottom: 0.9rem;
  }
  &__rate {
    display: flex;
    align-items: center;
    margin-bottom: 1.8rem;
    span {
      color: rgba($color-dark, $very-high-opacity);
    }
  }
  &__star {
    &:not(:last-of-type) {
      margin-right: 0.2rem;
    }
    &:last-of-type {
      margin-right: 0.6rem;
    }
  }
  .iscallup-doctor-info {
    position: absolute;
    width: 18rem;
    height: 8.2rem;
    top: -8rem;
    border-radius: 5px;
    right: 0;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 6px $color-light-3;
    background: $color-white;
    padding: 1.6rem;
    color: rgba($color-dark, $very-high-opacity);
    transition: $transition;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-top: 8px solid $color-white;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      bottom: -8px;
      right: 24px;
    }
    &.hidden {
      opacity: 0;
    }
  }
}

/*****************************/
//Medications card

.medicationCard {
  @extend .doctorCard;
  &__main {
    position: relative;
    &--favourite {
      position: absolute;
      right: 2rem;
      top: 0.8rem;
    }
    &__medicationImg {
      width: calc(100% - 2 * 1.2rem);
      object-fit: cover;
      margin: 1.2rem auto 2.8rem;
      box-shadow: 0 0 0 6px $color-green,
        0 0 0 12px rgba($color: $color-green, $alpha: $medium-opacity);
      border-radius: 0;
    }
  }

  &__info {
    margin: 1.6rem 0;
    &--flex {
      @extend .doctorCard__info;
    }
  }

  &__description {
    color: rgba($color-dark, $very-high-opacity);
  }

  &__name {
    @extend .doctorCard__name;
  }

  &__price {
    @extend .doctorCard__price;
  }
}
