.doctorCard {
  background-color: $color-white;
  box-shadow: 0px 3px 6px rgba($color-dark, $low-opacity);
  padding: 2rem;
  font-size: 1.6rem;
  //width: 27rem;
  width: 100%;
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
    flex-wrap: wrap;
  }
  &__name {
    font-size: 2.4rem;
    color: $color-dark;
    font-family: $bold-font;
  }
  &__price {
    font-size: 1.6rem;
  }
  &__speciality {
    color: rgba($color-dark, $very-high-opacity);
    margin-bottom: 0.9rem;
  }
  &__rate {
    display: flex;
    align-items: center;
    span {
      color: rgba($color-dark, $very-high-opacity);
    }
  }
  &__star {
    margin-bottom: 1.8rem;
    &:not(:last-of-type) {
      margin-right: 0.2rem;
    }
    &:last-of-type {
      margin-right: 0.6rem;
    }
  }
}

/*****************************/
//Medications card

.medicationCard {
  @extend .doctorCard;

  &__info {
    margin: 1.6rem 0;
    &--flex {
      @extend .doctorCard__info;
    }
  }

  &__description {
    color: rgba($color-dark, $very-high-opacity);
  }

  &__name {
    @extend .doctorCard__name;
  }

  &__price {
    @extend .doctorCard__price;
  }
}
