.homeVisit {
  margin-bottom: 1.6rem;
  label {
    cursor: pointer;
    position: relative;
    z-index: 5;
    padding-left: 2.5rem;
    font-size: 1.6rem;

    &::after,
    &::before {
      z-index: 6;
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 1.6rem;
      width: 1.6rem;
      background-color: $color-light-1;
    }

    &::before {
      z-index: 7;
      width: 0.8rem;
      height: 0.8rem;
      left: 0.4rem;
      transform: translateY(-50%) scale(0);
      transition: $transition;
      background-color: $active-option-color;
    }
  }
  input:checked + label::before {
    transform: translateY(-50%) scale(1);
  }
}
