.Popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 10000;
  background-color: rgba($color: $color-white, $alpha: $medium-opacity);
  hr {
    border-bottom: 0;
    color: rgba($color: $color-dark, $alpha: $medium-opacity);
    margin: 0 2.4rem;
  }
  &__box {
    width: 60rem;
    padding: 2.4rem 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-white;
    box-shadow: $color-light-3 0px 3px 6px;
    max-height: calc(100vh - 32px);
    overflow: auto;
    height: max-content;
    @media screen and (max-width: 600px) {
      width: 90%;
    }
    .heading-2 {
      font-size: 3.2rem;
      margin: 0 2.4rem 2.4rem;
    }
    .fades {
      color: rgba($color: $color-dark, $alpha: $very-high-opacity);
      font-family: $regular-font;
    }
    .semi-bold {
      color: $color-dark;
      font-family: $semi-bold-font;
    }
    &-grid {
      padding: 2.4rem;
      display: grid;
      grid-template-columns: 18.4rem 32.8rem;
      grid-gap: 4rem;
      height: auto;
    }
    &__toggler {
      border-radius: 0;
      &.address-toggler {
        border: 0;
      }
      button {
        border-radius: 0;
      }
    }
    &__header {
      display: grid;
      grid-template-columns: 4rem auto;
      grid-gap: 8px;
      align-items: center;
      margin: 0 2.4rem;
      img {
        width: 4rem;
        height: 4rem;
        object-fit: cover;
      }
      &__info {
        color: $color-dark;
        font-size: 1.6rem;
        font-family: $semi-bold-font;
      }
      &__time {
        font-size: 1.2rem;
        color: rgba($color: $color-dark, $alpha: $very-high-opacity);
      }
    }
    &__aside {
      &__image {
        border-radius: 50%;
        border: 1px solid $color-dark;
        width: 18.4rem;
        height: 18.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.4rem;
        img {
          width: 14.4rem;
          height: 14.4rem;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .btn-transparent {
        display: block;
        box-shadow: none;
        width: 100%;
        height: 3.2rem;
        text-align: left;
        padding-left: 1.6rem;
        margin-bottom: 1.6rem;
        &:hover,
        &.active {
          background-color: $color-blue;
          color: $color-white;
          box-shadow: $shadow;
          border: 0;
        }
        &-warning {
          color: $warning-color;
          margin: 0;
          border: 0;
          &:hover,
          &:active {
            background-color: transparent;
            color: $warning-color;
            box-shadow: none;
            border: 0;
          }
        }
      }
    }
    &__settings {
      .heading-2 {
        text-align: center;
        margin-bottom: 1.6rem;
      }
      &__description {
        font-size: 1.6rem;
        text-align: center;
        font-family: $semi-bold-font;
        margin-bottom: 2.4rem;
      }
      .select--options {
        top: -100px;
      }
      img {
        display: block;
        width: 14.4rem;
        height: 14.4rem;
        object-fit: cover;
        margin: 1.6rem auto 2.4rem;
      }
      .btn {
        margin: 0 auto;
        display: block;
      }
    }
    &__details {
      margin: 2.4rem;
      .select--options {
        top: -100px;
      }
      & .prescription__doctor {
        position: relative;
        &:not(:first-of-type) {
          padding-top: 2rem;
          border-top: 1px solid
            rgba($color: $color-dark, $alpha: $medium-opacity);
            .prescription__doctor__search {
              top: 6.9rem;
            }
        }
        &__search {
          position: absolute;
          background-color: $color-white;
          box-shadow: $shadow;
          width: 100%;
          top: 4.9rem;
          z-index: 100;
          padding-left: 1.6rem;
          li {
            margin: 8px 0;
            label {
              cursor: pointer;
            }
          }
        }
      }
      &.prescription {
        .row {
          display: flex;
          &.schedule {
            .select-component {
              &:first-of-type {
                margin-right: 2rem;
              }
            }
          }
          .fieldinput {
            .arrow {
              position: absolute;
              right: 1.5rem;
              top: 2.55rem;
              height: 0;
              width: 0;
              border: 0.8rem solid transparent;
              border-top-color: rgba($color-dark, $very-high-opacity);
              cursor: pointer;
              background-color: transparent;
              z-index: 100;
              outline: none;
              &-up {
                top: 0.75rem;
                border-top-color: transparent;
                border-bottom-color: rgba($color-dark, $very-high-opacity);
              }
            }
            &:first-of-type {
              margin-right: 2rem;
            }
          }
          .dosing-inputs {
            width: 100%;
            &:first-of-type {
              margin-right: 2rem;
            }
            .fieldinput {
              margin-bottom: 0;
              &:not(:first-of-type) {
                margin-top: 1.6rem;
              }
              &__hours {
                z-index: 10;
                position: absolute;
                width: 9.6rem;
                height: 4.8rem;
                top: 0;
                right: 0;
                border-left: 1px solid
                  rgba($color: $color-dark, $alpha: $medium-opacity);
                padding: 1.4rem 2.2rem;
                color: $color-dark;
                font-size: 1.6rem;
              }
            }
          }
          .btn-add {
            width: 4.8rem;
            height: 4.8rem;
            background-color: $color-blue;
            border-radius: 1rem;
            margin-bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .heading-4 {
          margin-bottom: 0.8rem;
        }
        .days {
          margin-bottom: 2rem;
        }
        .btn {
          width: 2.8rem;
          height: 3.2rem;
          background-color: $color-light-1;
          color: $color-dark;
          font-family: $regular-font;
          border-radius: 0.5rem;
          &:not(:last-of-type) {
            margin-right: 0.6rem;
          }
          &.active {
            background-color: $color-blue;
            color: $color-white;
          }
        }
        &__doctor {
        }
      }
      &__header {
        margin-bottom: 1.6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.6rem;
        font-family: $semi-bold-font;
        color: $color-dark;
        > img {
          width: 4.2rem;
          height: 4.2rem;
          object-fit: cover;
          margin-right: 0.8rem;
        }
        div {
          margin-right: auto;
          p:first-of-type {
            margin-bottom: 4px;
          }
        }
        h2 {
          font-size: 1.6rem;
        }
        .icon {
          margin-right: 4px;
        }
        .one-line {
          @include controlLines(1);
        }
      }
      &__note {
        font-size: 1.6rem;
        margin: 3.2rem 0 1.2rem;
      }
      &__content {
        margin-left: 5rem;
        .heading-4 {
          font-family: $semi-bold-font;
        }
        li {
          margin-top: 4px;
          font-size: 1.6rem;
        }
      }
      &__medication {
        display: flex;
        align-items: center;
        margin-bottom: 0.8rem;
        font-size: 1.6rem;
        color: rgba($color: $color-dark, $alpha: $very-high-opacity);
        span.editable {
          outline: 1px solid $color-dark;
          padding: 0.4rem;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
        .semi-bold {
          margin-right: 4px;
        }
        button {
          display: none;
        }
        &:hover {
          button {
            display: inline;
            background-color: transparent;
            border: 0;
            cursor: pointer;
            &:first-of-type {
              margin: 0 4px 0 8px;
            }
          }
        }
        &__img {
          width: 4.2rem;
          height: 4.2rem;
          object-fit: cover;
          margin-right: 0.8rem;
        }
        p {
          display: flex;
          flex-direction: column;
          .semi-bold {
            font-family: $semi-bold-font;
          }
        }
      }
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin: 0 2.4rem;
      &.buttons {
        justify-content: flex-end;
      }
      a {
        color: $color-green-light;
        font-size: 1.6rem;
      }
      img {
        margin-right: 4px;
      }
      .btn {
        &-apply {
          margin-right: 1.6rem;
        }
        &-cancel {
          box-shadow: none;
          color: $color-green;
          &:hover,
          &:focus,
          &:active {
            background-color: $color-white;
            color: $color-green;
            box-shadow: none;
          }
        }
      }
    }
    &__tracing {
      display: flex;
      justify-content: space-between;
      list-style: none;
      margin: 0 2.4rem;
      @media screen and (max-width: 450px) {
        flex-direction: column;
      }
      &__item {
        $this: &;
        @media screen and (max-width: 450px) {
          display: flex;
          align-items: center;
        }
        img {
          display: inline-block;
          vertical-align: bottom;
          @media screen and (max-width: 450px) {
            order: 1;
          }
        }
        p {
          display: inline-block;
          color: $color-dark;
          font-family: $semi-bold-font;
          font-size: 1.6rem;
          margin-left: 0.4rem;
          @media screen and (max-width: 450px) {
            order: 1;
          }
        }
        &__circle {
          display: block;
          width: 2.4rem;
          height: 2.4rem;
          background-color: $color-white;
          border-radius: 50%;
          border: 4px solid $color-blue;
          margin-top: 0.8rem;
          @media screen and (max-width: 450px) {
            margin-right: 0.8rem;
            position: relative;
          }
          #{$this}:not(:nth-child(3)) &::after {
            content: "";
            height: 0.6rem;
            background: $color-blue;
            width: calc(50% - 30px);
            position: absolute;
            margin-top: 0.6rem;
            z-index: -1;
            @media screen and (max-width: 450px) {
              transform: rotate(90deg);
              width: 1.6rem;
              top: 1.6rem;
              left: 0;
            }
          }
          #{$this}:nth-child(2) & {
            margin: 0.8rem auto 0;
            @media screen and (max-width: 450px) {
              margin: 0.8rem 0.8rem 0 0;
            }
            &::after {
              background-color: $color-dark;
            }
          }
          #{$this}:nth-child(3) & {
            margin-left: auto;
            border-color: $color-dark;
            @media screen and (max-width: 450px) {
              margin: 0.8rem 0.8rem 0 0;
            }
          }
        }
      }
    }
    .loading {
      margin-top: 2.4rem;
    }
  }
}
