.footer {
  background-color: $color-light-1;
  font-size: 1.6rem;
  padding: 4rem 2.4rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  &__logo {
    margin-right: 2.4rem;
  }

  &__copyright {
    color: rgba($color-dark, 0.7);
    margin-right: auto;
    @media (max-width: 600px) {
      margin: 3rem 0;
    }
  }

  &__links {
    list-style: none;

    li {
      display: inline-block;
    }
  }
  &__link {
    text-decoration: none;
    color: $color-green-light;
    margin-left: 2.4rem;
  }
  &__line {
    height: 1px;
    width: 100%;
    margin: 3.2rem auto;
    background-color: rgba($color-dark, $medium-opacity);
  }

  &__socials {
    display: flex;
    margin: 0 auto;
    width: min-content;

    span:not(:last-child) {
      margin-right: 2.4rem;
    }
  }
}
