.NavigationBar {
  background-color: $color-white;
  padding: 1rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  flex-wrap: wrap;

  @media (max-width: 1335px) {
    padding: 1rem 0;
    font-size: 1.4rem;
  }

  @media (max-width: 1210px) {
    padding: 1rem 2.4rem;
    font-size: 1.6rem;
  }

  &__checkbox {
    display: none;
  }

  &__button {
    width: 5rem;
    height: 5rem;
    z-index: 10;
    box-shadow: 0 1rem 2rem rgba($color-dark, 0.05);
    text-align: center;
    cursor: pointer;
    background-color: $color-light-1; ///test
    display: none;
    border-radius: 10px;

    @media (max-width: 1210px) {
      display: inline-block;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  ///////////////////////////////////////
  &__hamburger {
    position: relative;

    &,
    &::after,
    &::before {
      width: 3rem;
      height: 3px;
      background-color: $color-dark;
      display: inline-block;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
      backface-visibility: hidden;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__hamburger::before {
    top: -1rem;
  }

  &__button:hover &__hamburger::after {
    top: 1rem;
  }
  &__checkbox:checked + &__button &__hamburger {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__hamburger::before {
    transform: rotate(135deg);
    top: 0;
  }

  &__checkbox:checked + &__button &__hamburger::after {
    transform: rotate(-135deg);
    top: 0rem;
  }

  &__checkbox:checked ~ &__links {
    transform: translateY(0);
  }
  ///////////////////////////////////////
  &__logo {
    flex: 0 1 14.7rem;

    @media (max-width: 1210px) {
      flex: 0 1 75%;
      text-align: center;
    }
    img {
      width: 100%;
      //height: 100%;
      @media (max-width: 1210px) {
        width: 14.7rem;
      }
    }
  }

  &__search {
    flex: 0 1 43rem;
    height: 4rem;
    margin-left: auto;

    border: 1px solid #242a37;
    border-radius: 10px;
    opacity: 0.4;
    overflow: hidden;
    position: relative;
    @media (max-width: 1210px) {
      flex-basis: 5rem;
      margin-left: 0;
    }

    &--input {
      font-family: inherit;
      width: 100%;
      height: 100%;
      padding: 0 1.5rem;
      border: none;
      outline: none;

      @media (max-width: 1210px) {
        display: none;
      }
    }

    &--icon {
      z-index: 2;
      position: absolute;
      right: 1rem;
      width: 2rem;
      height: 2rem;
      top: calc(50% - 1rem);
      background-color: #fff;
      cursor: pointer;

      @media (max-width: 1210px) {
        left: calc(50% - 1rem);
      }
    }
  }
  &__links {
    align-self: stretch;
    list-style: none;
    display: flex;
    margin-left: auto;
    transition: transform 0.2s ease-in-out;
    border-radius: 1.5rem;
    @media (max-width: 1210px) {
      padding: 2rem;
      margin-left: 0;
      background-color: $color-white;
      flex-direction: column;
      transform: translateY(-1000px);
      position: fixed;
      left: 2rem;
      top: 6rem;
    }
  }

  &__item {
    display: flex;
    margin-right: 2.4rem;
    align-items: center;

    @media (max-width: 1210px) {
      margin-bottom: 1.5rem;
      order: 1;
    }

    &--unique {
      border-left: 1px solid rgba(#242a37, 0.4);
      padding-left: 2.4rem;

      @media (max-width: 1210px) {
        border-left: none;
        padding-left: 0;
      }
    }
  }
  &__link {
    text-decoration: none;
    color: rgba($color-dark, 0.6);
  }

  &__icons {
    display: flex;
    align-items: center;

    img:not(:last-child) {
      margin-right: 2.4rem;
      width: 2.4rem;
      height: 2.4rem;
    }
    @media (max-width: 1210px) {
      order: 0;
      margin-bottom: 2rem;
    }
  }
}
